<div class="container py-5">
  <div class="col-lg-8 offset-lg-2">
    <h1>Welcome 👋</h1>
    <p>Be sure you check out the REAMDE.md for specific tasks to be completed.</p>
    <p class="lead">Note: This codebase is <mark>not nearly fully representative of our platform</mark> however it's a good small sample of the kinds of technology and problems we are solving. </p>
    <ul class="my-5 list-group">
      <li class="list-group-item">
        <h3><strong>Challenge Steps</strong></h3>
        <p>Please refer to our <a href="https://www.notion.so/getmainstreet/Engineering-Wiki-92df623daaeb4022892d331feb20aadf" target="_blank">Engineering Wiki</a> for our best practices and recommended approaches.</p>
        <p>You can also feel free to look at <a href="https://github.com/main-street/code-challenge/pulls" target="_blank">past PR's</a> for how other developers have solved some of these challenges. Although keep in mind, you'll need to be able to explain your submission and talk through your choices.</p>
      </li>
      <li class="list-group-item">
        <h5><strong>☐ Add a way to delete companies</strong></h5>
        <p>For companies, there isn't currently a way to destroy them. There should be a confirmation of the action. Some kind of "Are you sure?" message.</p>
        <p><small>Assessing: Basic Rails Knowledge and established best practices.</small></p>
      </li>
      <li class="list-group-item">
        <h5><strong>☐ Add Custom Validation to company email</strong></h5>
        <p>(When Present) All email addresses for new companies should only be a @getmainstreet.com domain. A custom error should render when attempting to create or update a company when the email does not match this domain. This should only be when email is present. Blank emails can be ignored. Should validate on both front end and back end.</p>
        <p><small>Assessing: Basic Rails Knowledge and established best practices.</small></p>
      </li>
      <li class="list-group-item">
        <h5><strong>☐ Add City State To Companies from Zip Code</strong></h5>
        <p>For each company "Show" page there is a placeholder for the <strong>City, State</strong> for that company. You'll need to leverage the zip code to have that value render the actual <strong>City, State</strong>. For example: <strong> Nashville, TN</strong> You might want to take a look at the <a href="https://github.com/monterail/zip-codes">ZipCodes gem</a> that is already in this project.</p>
        <p>Every time the company's zip code is updated this city and state should be updated.</p>
        <p>The City and State should be added as attributes to the Company object.</p>
        <p><small>Assessing: Back end skills. Ability to implement more back-end heavy, basic business logic in the context of rails while leveraging established Gems / Libraries.</small></p>
      </li>
      <li class="list-group-item">
        <h5><strong>☐ Include a way to set a brand color</strong></h5>
        <p>Companies should be able to pick or enter a color and have that color render on the company show page. Ideally, this interface should feel responsive and interactive in some way.</p>
        <p><small>Assessing: Front end skills. Basic UX and UI Instinct. Ability to leverage CSS / HTML / JavaScript to build an engaging and reactive UI.</small></p>
      </li>
      <li class="list-group-item">
        <h5><strong>☐ Include test coverage for all your changes</strong></h5>
        <p>For all functionality extend or add tests from existing tests.</p>
        <p><small>Assessing: Ability to produce clean tests and documentation for code.</small></p>
      </li>
      <li class="list-group-item">
        <h5><strong>☐ Suggest a new task for this challenge</strong></h5>
        <p>Write up a proposed challenge to add to this repository for assesing developers. Do not solve the code challenge. Just write the task, and why this would make a good challenge to include for future developers.</p>
        <p><small>Assessing: Engineering instinct, writing, ability to document up a deliverable concisely.</small></p>
      </li>
      <li class="list-group-item">
        <h5><strong>☐ Suggested Task: Develop REST APIs</strong></h5>
        <p>Write REST APIs for the company, such as create a company, update a company, listing of companies, deleting a company</p>
        <p><small>Assessing: Basic knowledge of REST APIs.</small></p>
      </li>
    </ul>
  </div>
</div>
